/*
 * Estilos de tu proyecto
 */
 *{
 		font-family: 'Lato', sans-serif;
 	font-family: 'Montserrat', sans-serif;
 }
 body{
 	color: #fff;
 }
.btn{
	border-radius: 8px;
	width: 87px;
	height: 48px;
	box-shadow:none;
	border:none;
	cursor: pointer;

}
.btn-color{
	background: #18bc9c;
	color: white;
	font-size: 1.1rem;
	border: 1px solid #fff;

}
.btn-lg{
	width: 200px;

}


.btn:focus{
	outline: none;
}


/*HEADER*/

header{
	background: rgb(44, 62, 80);
	
	display: flex;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
	
}
.nav-top{
	height: 100px;
}
.nav-scroll{
	height: 60px;
}
.nav-scroll div{
	font-size: 1.4rem;
}
header div{
	font-size: 1.7rem;
	font-weight: 600;
	margin-left: 100px;
	cursor: pointer;
}
nav ul{
	display: flex;
	justify-content: flex-end;
	margin-right: 80px;
}
nav ul li{
	list-style: none;
	float: left;
}
li a{
	color: #fff;
	text-decoration: none;
	padding: 15px;
	line-height: 2;
	font-weight: 700;
	font-size: 0.9rem;
}
li a:hover{
	color: rgb(31, 137, 125);
}
/*Efecto scroll en botones*/

.active-link{
	background: #18bc9c;
	color: white;
}









/*SECCIONES*/

section{
	width: 100%;
	margin:0px auto;
	text-align: center;
}
section > div{
	padding: 50px;
}

#intro{
	margin-top: 100px;
}
#intro,#about{
	background: rgb(24, 188, 156);
	padding: 55px 0;
}

div h1{
	font-size: 4rem;
	margin: 10px 0;
}
hr.star{
	max-width: 250px;
	color: #fff;
	border: none;
	border-top: 5px solid;
	margin:15px auto 5px;
}
hr.star:after{
	content: "\f005";
    font-family: FontAwesome;
	background: rgb(24, 188, 156);
	font-size: 2rem;
	display: inline-block;
    position: relative;
    top: -.5em;
    padding: 0 .25em;	
}
#intro div div{
	font-size: 1.5rem;
}
/*SECTION #2*/
#portafolio,#contact{
	color: rgb(51, 51, 51);
}
h2{
	font-size: 2.4rem;
}
hr.dark{
	color: rgb(44, 62, 80);
}

#portafolio .star:after, #contact .star:after{
	background: #fff;
}
div.row{
	margin-left: 35px;
	margin-right: 35px;
	margin-top: -5px;
}
div div img{
	width: 400px;
	padding: 0 15px;
}

/*SECTION #3*/
#about div.row{
	width: 60%;
	margin:0 auto;
}
div p{
	
}

p{
	font-size: 20px;
	text-align: left;
}

.btn.fa-download:hoverrgb(24, 188, 156);{
	background: #fff;
	color:rgb(24, 188, 156);

}

/*SECTION CONTACT*/

#contact{
	padding: 130px 30px;

}
input, textarea{
	border:none;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 20px 5px;
	width: 90%;
}

input:focus{
	outline: none;
}


/*FOOTER*/
footer{
	background: rgb(44, 62, 80);
}
#end{
	background: rgb(35, 49, 64);
}