/*
 * Estilos de tu proyecto
 */
 *{
 		font-family: 'Lato', sans-serif;
 	font-family: 'Montserrat', sans-serif;
 }
 body{
 	color: #fff;
 }

/*HEADER*/

header{
	background: rgb(44, 62, 80);
	height: 100px;
	display: flex;
	align-items: center;
	
}
header div{
	font-size: 1.7rem;
	font-weight: 600;
	margin-left: 100px;
	cursor: pointer;
}
nav ul{
	display: flex;
	justify-content: flex-end;
	margin-right: 80px;
}
nav ul li{
	list-style: none;
	float: left;
}
li a{
	color: #fff;
	text-decoration: none;
	padding: 15px;
	line-height: 2;
	font-weight: 700;
	font-size: 0.9rem;
}
li a:hover{
	color: rgb(31, 137, 125);
}
section{
	width: 100%;
	margin:0px auto;
	text-align: center;
}
section > div{
	padding: 50px;
}

#intro{
	background: rgb(24, 188, 156);
	padding: 55px 0;
}

div h1{
	font-size: 4rem;
	margin: 10px 0;
}
hr.star{
	max-width: 250px;
	color: #fff;
	border: none;
	border-top: 5px solid;
	margin:15px auto 5px;
}
hr.star:after{
	content: "\f005";
    font-family: FontAwesome;
	background: rgb(24, 188, 156);
	font-size: 2rem;
	display: inline-block;
    position: relative;
    top: -.5em;
    padding: 0 .25em;	
}
#intro div div{
	font-size: 1.5rem;
}
/*SECTION #2*/
#portafolio{
	color: rgb(51, 51, 51);
}
h2{
	font-size: 2.4rem;
}
hr.star:nth-child(2){
	color: rgb(44, 62, 80);
}
#portafolio .star:after{
	background: #fff;
}
div.row{
	margin-left: 35px;
	margin-right: 35px;
	margin-top: -5px;
}
div div img{
	width: 400px;
	padding: 0 15px;
}

/*SECTION #3*/






#about{
	background: rgb(31, 137, 125);

}

#contact{

}
footer{
	background: rgb(44, 62, 80);
}
#end{
	background: rgb(35, 49, 64);
}